repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.5.5
    hooks:
      - id: ruff
        args: ["--fix"]
        files: "^(nd_llm|benchmarks|scripts|tests)/.*\\.py$"
  - repo: https://github.com/psf/black
    rev: 24.4.2
    hooks:
      - id: black
        files: "^(nd_llm|benchmarks|scripts|tests)/.*\\.py$"
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.11.2
    hooks:
      - id: mypy
        pass_filenames: false
        args: ["--config-file=pyproject.toml"]
